
 /* Base styles 
:root {
    --color-primary: #C271FF;
    --color-dark: #071629;
    --color-white: #FFFFFF;
    --color-gray: #979797;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark);
    background-color: var(--color-white);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .purple {
    color: var(--color-primary);
  }

 /* Header Section Styling 
header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 20px 0;
}

#header-nav {
  display: flex;
  flex-direction: row;
  gap: 900px;

}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;

}

.nav-links a {
  color: white;  
  text-decoration: none;
  font-weight: bold;
  font-family: 'SourceSansPro-Bold';
} 

/*home page styling

#homepage {
    background-image: url(Object.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  } 

.container{
    text-align: center;
    padding-top: 200px;
    color: var(--color-white)
}

.container h1{
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--color-white);
}


/*Pros Section

.pros{
    text-align: center;
    justify-content: center;
}

.pros h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.pros-images{
    width: 150pc;
    height:150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.pro{
    display: grid;
    gap: 30px;
}

/*Testimonial

.testimonial{
    background-color: #C271FF;
    background-size: cover;
    background-position: center;
}

.testimonial-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    align-items: center;
}

.testimonial-image{
    max-width: 100%;
    border-radius: 5px;
}

.testimonial-text{
    font-size: 22px;
    margin-bottom:30px;
}

.testimonial-section h3{
    font-size: 22px;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.testimonial-section P{
    font-size: 22px;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-style: italic;
}


/*Membership

.membership{
    background-color: 071629;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.memebership-options img{
    width: 45px; 
    margin-bottom: 20px;
}

.memebership-options h3{
    font-size:18px;
    font-style: bold;
    font-family: sans-serif;
    color: #FFFFFF;
}

.memebership-options p{
    color: #FFFFFF;
}

.membership-flex{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 80px;
}
*/

 /* Base styles */
 :root {
    --color-primary: #C271FF;
    --color-dark: #071629;
    --color-white: #FFFFFF;
    --color-gray: #979797;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark);
    background-color: var(--color-gray);
  }
  .purple {
    color: var(--color-primary);
  }

 /* Header Section Styling */
header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 20px 0;
}

#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 900px;

}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;

}

.nav-links a {
  color: white;  
  text-decoration: none;
  font-weight: bold;
  font-family: 'SourceSansPro-Bold';
} 


/*home page styling*/
#homepage {
  background-image: url(Object.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
}

.container{
  text-align: center;
  padding-top: 200px;
  color: var(--color-white);
}

.container h1 {
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--color-white);
  font-family: 'SourceSansPro-Bold';
}

.container button {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.phrases {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: 'SourceSansPro-Bold';
}

.primary {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

/* Pros section */
.pros {
  text-align: center;
  padding: 80px 0;
  color: var(--color-white);

}

.pros h2 {
  font-size: 32px;
  margin-bottom: 40px;
  font-family: 'SourceSansPro-ExtraLight';
}

.pros h2 span {
  font-weight: bold;
  font-family: 'SourceSansPro-Bold';
}

.pros-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.pro-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.pro-card h3 {
  margin-bottom: 10px;
  font-family: 'SourceSansPro-Black';
  font-size: 24px;
  font-weight: bold;
}

.pro-card p {
  line-height: 1.5;
  font-family: 'SourceSansPro-BoldIt';
}

/* Testimonial section */
.testimonial {
  background: var(--color-primary);  /* U could use the color purple */
  padding: 80px 0;
}

.testimonial-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
}

.testimonial-image img {
  max-width: 100%;
  border-radius: 5px;
}

.testimonial-text blockquote {
  font-size: 28px;
  margin-bottom: 30px;
  font-family: 'SourceSansPro-Regular';
  line-height: 1.5;
  color: var(--color-white);

}

.testimonial-text h3 {
  margin-bottom: 10px;
  font-family: 'SourceSansPro-Bold';
  color: var(--color-white);
  font-size: 28px;
}

.testimonial-text p {
  font-family: 'SourceSansPro-BoldIt';
  color: var(--color-white);
}

/* Tutorials section */
.tutorials {
  padding: 80px 0;
  text-align: center;
}
.tutorials h2 {
  font-size: 32px;
  margin-bottom: 40px;
  font-family: 'SourceSansPro-ExtraLight';
  color: var(--color-dark);
}

.tutorials h2 span {
  font-weight: bold;
  font-family: 'SourceSansPro-Bold';
}


.tutorial-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;

}

.tutorial-card {
  background: var(--color-white);
  border-radius: 5px;
  overflow: hidden;
  color: var(--color-dark);
  position: relative;
}

.tutorial-image {
  position: relative;
  width: 100%;
}

.tutorial-image img {
  width: 100%;
  display: block;
}

.play-button {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px !important;
  height: 64px !important;
  cursor: pointer;
}
.tutorial-card h3 {
  padding: 15px;
  text-align: left;
  font-family: 'SourceSansPro-Bold';
  font-size: 24px;
}

.tutorial-card p {
  padding: 15px;
  text-align: left;
  line-height: 2;
  font-family: 'SourceSansPro-ExtraLight';
  font-weight: lighter;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author h4 {
  color: var(--color-primary);
}

.rating {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.rating p {
  color: var(--color-primary);
}

.stars {
  color: var(--color-primary);
}

/* Membership section */
.membership {

  text-align: center;
  padding: 80px 0;
  background-color: var(--color-dark);
  color: var(--color-white);
  justify-content: center;
}

.membership h2 {
  font-size: 32px;
  margin-bottom: 40px;
  font-family: 'SourceSansPro-ExtraLight';
}

.membership h2 span {
  font-weight: bold;
  font-family: 'SourceSansPro-Bold';
}

.membership-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.membership-card img {
  width: 45px;
  margin-bottom: 20px;
}

.membership-card h3 {
  margin-bottom: 20px;
  font-family: 'SourceSansPro-Bold';
  font-size: 24px;
}

.membership-card p {
  line-height: 1.5;
  padding-top: 20px;
  font-family: 'SourceSansPro-Regular';
  color: var(--color-white);

}
/* FAQ section */
.faq {
  padding: 80px 0;
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-dark);
  justify-content: center;
}

.faq h2 {
  margin-bottom: 120px;
  font-size: 56px;
  font-family: 'SourceSansPro-Light';
  color: var(--color-dark);
  
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align:left;
  align-items: center;
  justify-content: center;
}

.faq-item {
  margin-left: 160px;
  margin-bottom: 40px;
  width: 300px;
}

.faq-item p {
  line-height: 2.5;
  font-family: 'SourceSansPro-Regular';
}

.faq-item h3 {
  margin-bottom: 60px;
  font-family: 'SourceSansPro-Bold';
  font-size: 24px;
}

/* Footer */
footer {
  padding: 40px 0;
  background: var(--color-dark);
  color: var(--color-white);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-content p {
  text-align: center; 
  color: var(--color-gray);

}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.social-links {
  display: flex;
  gap: 20px;
  font-size: 24px;
}



/* Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
      font-size: 64px;
  }

  .pros-cards,
  .tutorial-cards,
  .membership-grid {
      grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-content {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .faq-grid {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .hero-phrases {
      flex-direction: column;
      gap: 20px;
  }

  .pros-cards,
  .tutorial-cards,
  .membership-grid {
      grid-template-columns: 1fr;
  }
}